html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monaco", "Lucida Console", monospace;
  background: #effcff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
footer {
  width: 100%;
  z-index: 5;
  background: white;
  padding: 15px 0 20px;
  border-top: 1px solid #ccc;
}

.wrapper {
  padding-bottom: 20px;
  flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

table {
  background: white;
  margin: 50px auto;
  width: 100%;
  min-width: 600px;
  border-radius: 6px;
  padding: 15px;
  padding-left: 20px;
  box-shadow: 0px 15px 30px rgba(black, 0.02), 0px 20px 20px rgba(black, 0.08);

  thead tr,
  tbody tr {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  thead {
    tr {
      border-bottom: 1px solid #ccc;
    }

    th {
      text-align: center;
      font-weight: bold;
      padding: 12px 0;
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background: rgba(blue, 0.03);
      }
      &:hover {
        background: rgba(blue, 0.06);
      }
      position: relative;

      &.match {
        font-weight: bold;
        // background: rgba(blue, 0.2);
        &:before {
          background: #1f92c9;
          padding: 1px 8px;
          color: white;
          content: "⭑ match";
          font-size: smaller;
          position: absolute;
          left: -80px;
          top: 7px;
          text-transform: uppercase;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &:after {
          content: "";
          position: absolute;
          left: -20px;
          top: 7px;
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-left: 12px solid #1f92c9;
          border-bottom: 9px solid transparent;
        }
      }
    }
  }

  th,
  td {
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
  }

  td {
    padding: 10px 5px;
  }
}

.form {
  display: flex;
  align-items: baseline;
}

.input-row {
  margin-right: 20px;
  label,
  input,
  textarea {
    display: block;
  }

  label {
    // text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 4px;
    color: gray;
  }

  input {
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 180px;
  }

  textarea {
    padding: 5px;
    $textAreaWidth: 350px;
    $textAreaHeight: 120px;
    min-width: $textAreaWidth;
    max-width: $textAreaWidth;
    min-height: $textAreaHeight;
    max-height: $textAreaHeight;
    width: 100%;
    border: 1px solid #ccc;
  }

  sup {
    color: rgba(gray, 0.8);
    font-style: italic;
  }
}

button {
  position: relative;
  top: 24px;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: #1fc99a;
  color: white;
  border-radius: 3px;
  padding: 8px 30px;

  &:hover {
    background: rgba(#1fc99a, 0.8);
  }

  &:active {
    background: darken(#1fc99a, 6%);
  }

  &:focus {
    outline: none;
  }
}
